.palette-test {
--color-red-05: #PLACEHOLDER;
--color-red-10: #PLACEHOLDER;
--color-red-20: #PLACEHOLDER;
--color-red-30: #PLACEHOLDER;
--color-red-40: #PLACEHOLDER;
--color-red-50: #PLACEHOLDER;
--color-red-60: #PLACEHOLDER;
--color-red-70: #PLACEHOLDER;
--color-red-80: #PLACEHOLDER;
--color-red-90: #PLACEHOLDER;
--color-red-95: #PLACEHOLDER;
--color-blue-05: #PLACEHOLDER;
--color-blue-10: #PLACEHOLDER;
--color-blue-20: #PLACEHOLDER;
--color-blue-30: #PLACEHOLDER;
--color-blue-40: #PLACEHOLDER;
--color-blue-50: #PLACEHOLDER;
--color-blue-60: #PLACEHOLDER;
--color-blue-70: #PLACEHOLDER;
--color-blue-80: #PLACEHOLDER;
--color-blue-90: #PLACEHOLDER;
--color-blue-95: #PLACEHOLDER;
--color-gray-05: #PLACEHOLDER;
--color-gray-10: #PLACEHOLDER;
--color-gray-20: #PLACEHOLDER;
--color-gray-30: #PLACEHOLDER;
--color-gray-40: #PLACEHOLDER;
--color-gray-50: #PLACEHOLDER;
--color-gray-60: #PLACEHOLDER;
--color-gray-70: #PLACEHOLDER;
--color-gray-80: #PLACEHOLDER;
--color-gray-90: #PLACEHOLDER;
--color-gray-95: #PLACEHOLDER;
}
