.neutral-gray {
--color-gray-05: var(--color-gray-05);
--color-gray-10: var(--color-gray-10);
--color-gray-20: var(--color-gray-20);
--color-gray-30: var(--color-gray-30);
--color-gray-40: var(--color-gray-40);
--color-gray-50: var(--color-gray-50);
--color-gray-60: var(--color-gray-60);
--color-gray-70: var(--color-gray-70);
--color-gray-80: var(--color-gray-80);
--color-gray-90: var(--color-gray-90);
--color-gray-95: var(--color-gray-95);
--color-neutral: var(--color-gray);
--color-neutral-on: var(--color-gray-on);
}

.brand-blue {
--color-blue-05: var(--color-blue-05);
--color-blue-10: var(--color-blue-10);
--color-blue-20: var(--color-blue-20);
--color-blue-30: var(--color-blue-30);
--color-blue-40: var(--color-blue-40);
--color-blue-50: var(--color-blue-50);
--color-blue-60: var(--color-blue-60);
--color-blue-70: var(--color-blue-70);
--color-blue-80: var(--color-blue-80);
--color-blue-90: var(--color-blue-90);
--color-blue-95: var(--color-blue-95);
--color-brand: var(--color-blue);
--color-brand-on: var(--color-blue-on);
}

.danger-red {
--color-red-05: var(--color-red-05);
--color-red-10: var(--color-red-10);
--color-red-20: var(--color-red-20);
--color-red-30: var(--color-red-30);
--color-red-40: var(--color-red-40);
--color-red-50: var(--color-red-50);
--color-red-60: var(--color-red-60);
--color-red-70: var(--color-red-70);
--color-red-80: var(--color-red-80);
--color-red-90: var(--color-red-90);
--color-red-95: var(--color-red-95);
--color-danger: var(--color-red);
--color-danger-on: var(--color-red-on);
}

