:root {
  --gray-05: oklch(5% 0.01 286);
  --gray-10: oklch(14% 0.01 286);
  --gray-20: oklch(23% 0.01 286);
  --gray-30: oklch(32% 0.01 286);
  --gray-40: oklch(41% 0.01 286);
  --gray-50: oklch(50% 0.01 286);
  --gray-60: oklch(60.000004% 0.01 286);
  --gray-70: oklch(69% 0.01 286);
  --gray-80: oklch(78% 0.01 286);
  --gray-90: oklch(87% 0.01 286);
  --gray-95: oklch(96% 0.01 286);
  --blue-05: oklch(5% 0.3 271);
  --blue-10: oklch(14% 0.3 271);
  --blue-20: oklch(23% 0.3 271);
  --blue-30: oklch(32% 0.3 271);
  --blue-40: oklch(41% 0.3 271);
  --blue-50: oklch(50% 0.3 271);
  --blue-60: oklch(60.000004% 0.3 271);
  --blue-70: oklch(69% 0.3 271);
  --blue-80: oklch(78% 0.3 271);
  --blue-90: oklch(87% 0.3 271);
  --blue-95: oklch(96% 0.3 271);
  --red-05: oklch(5% 0.23 29);
  --red-10: oklch(14% 0.23 29);
  --red-20: oklch(23% 0.23 29);
  --red-30: oklch(32% 0.23 29);
  --red-40: oklch(41% 0.23 29);
  --red-50: oklch(50% 0.23 29);
  --red-60: oklch(60.000004% 0.23 29);
  --red-70: oklch(69% 0.23 29);
  --red-80: oklch(78% 0.23 29);
  --red-90: oklch(87% 0.23 29);
  --red-95: oklch(96% 0.23 29);
  --brand-50: var(--blue-50);
  --neutral-50: var(--gray-50);
  --danger-50: var(--red-50);
}
