:root {
  --red-05: oklch(5% 0.23 29);
  --red-10: oklch(14% 0.23 29);
  --red-20: oklch(23% 0.23 29);
  --red-30: oklch(32% 0.23 29);
  --red-40: oklch(41% 0.23 29);
  --red-50: oklch(50% 0.23 29);
  --red-60: oklch(60.000004% 0.23 29);
  --red-70: oklch(69% 0.23 29);
  --red-80: oklch(78% 0.23 29);
  --red-90: oklch(87% 0.23 29);
  --red-95: oklch(96% 0.23 29);
}
