{% if default %}:where(:root),{% endif -%}
.palette-{{ name }} {
{%- for palette in palettes %}
  {% for key, value in palette.colors %}
  {{- key }}: {{ value }};
  {% endfor -%}
  {{ palette.base_color.0 }}: {{ palette.base_color.1 }};
  {# {{ palette.key_tone.0 }}: {{ palette.key_tone.1 }}; #}
{% endfor -%}
}