{% if theme.default %}:where(:root),{% endif %}
.palette-{{ theme_name }} {
  {% for palette in palettes %}
    {% for (key, value) in palette.tones %}
      {{ key }}: {{ value }};
    {% endfor %}
  {% endfor %}
}